<!DOCTYPE html>
<html>
<head>

  

  <link rel="stylesheet" type="text/css" href="css/main.css">
  <title>Instructions</title>
  <style></style>

</head>
<<<<<<< HEAD
<body>
=======
<body class= "middlebody">
>>>>>>> 0ec2ab00054ac975469bdd65ac8567e8c8bf6d24
  <div class = "hearder-container"> 
    <img id= pic src ="https://www.georgiatrust.org/wp-content/themes/ga-trust-nineteen/assets/images/logo_horiz_sm.png">
  </div>
<div class="topnav">
  <a href="/data" style="float:right">Data</a>
  <a class="active" href="/instructions" style="float: right">Instructions</a>
  <a href="/" style="float: right">Search</a>
</div>
<<<<<<< HEAD

<h2>How to use this resource</h2>
<p>This tool is created for the Georgia Trust for Historic Preservation's West Atlanta Initiative. You can search for historic homes in the West Atlanta area by zip code, price range, or improvement.</p>
<p>How to use this tool:</p>
<ul>
  <li>Use the search field to sort houses by zip code, price range, or improvement max. If no price range or improvement max is entered, the program will use its default ranges.</li>
  <li>Search results should display in the table below the search fields. The table includes the property's street address, zip code, total appraisal value, improvement, build, and owner.</li>
  <li>To start a new search, simply re-enter the parameters in the search fields.</li>
  <li>The data section of the website provides a spreadsheet with all the data accumulated.</li>
</ul>
=======
<div class= "instructions-format">
<p class= "text">Listed below is the description on how this application works. It will also include instructions on how to update the data set for the website. </p>
  <p class = "text"> 
    Updating The Data: 
    <ul class="text2"> 1. 
    </ul>
    <ul class="text2"> 2. 
    </ul>
    <ul class="text2"> 3. 
    </ul>
    <ul class="text2"> 4. 
    </ul>
    
  </p>
  
  </div>
  
>>>>>>> 0ec2ab00054ac975469bdd65ac8567e8c8bf6d24
</body>
</html>
